<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Create User</title>
	
</head>
<body>
<div id = "create">
<table id = "create_table">
<tr>
<td>First Name </td>
<td><input id = "f_name" type = "text" placeholder = "Enter First Name"</td>
</tr>

<tr>
<td>Last Name </td>
<td><input id = "l_name" type = "text" placeholder = "Enter Last Name"</td>
</tr>

<tr>
<td>Username </td>
<td><input id = "username" type = "text" placeholder = "Enter Username"</td>
</tr>

<tr>
<td>Password </td>
<td><input id = "pwd" type = "password" placeholder = "Enter Password"</td>
</tr>

<tr>
<td>Address </td>
<td><input id = "address" type = "text" placeholder = "Enter Address"></td>
</tr>

<tr>
<td>State </td>
<td><select id = "state">
<option value = "CA">California</option>
<option value = "TX">Texas</option>
<option value = "NY">New York</option>
<option value = "MI">Michigan</option>

</td>
</tr>

<tr>
<td>Zip Code </td>
<td><input id = "zip_code" type = "text" placeholder = "Enter Zip Code"></td>
</tr>

</table>

<div id = "submit">
<input id = "submit_button" type = "submit" value = "CREATE">
</div>
</div>	
</body>
</html>